<% provide(:title, "About") %>
<div class = "container">
<h1 class = "about">About</h1>

<div class = "aboutblock">
  <div class = "text">
  
  The <a href="https://www.boston.gov/"><b><u>CoB Transparency Project</u></b></a>, is a project led by
  <a href="https://www.brandeis.edu/"><b><u>Brandeis Students</u></b>.
  </div>

  <div class = footer>
    footer
  </div>
</div>
</div>