<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="https://www.boston.gov/"><em>CoB Transparency Project</em></a>, is a project led by
  <a href="https://www.brandeis.edu/">Brandeis Students.
</p>