<% provide(:title, "About") %>
<div class = "container">
<h1 class = "about">About the App</h1>



<div class="container">
  <div class = "text">
  
  The <a href="https://www.boston.gov/"><b><u>City of Boston Transparency Project</u></b></a>, is a project led by
  <a href="https://www.brandeis.edu/"><b><u>Brandeis Students</u></b>. </a>The goal of this application is to educate
  the citizens of Boston on active sensors that exist within the city limits. There are many different types
  of sensors that serve the city, and they perform a variety of functions. For example, the department of transportation
  in Boston have cameras at intersections that monitor for vehicular events, such as traffic, accidents, or drivers that
  break the law. Citizens have a right to know about the technology around them, especially when that technology is 
  often not visible, or at least not self-announcing.</div>
  <div class = "text">
  There are also many sensors that are owned by third-parties, who use
  the data collected for many different purposes, depending on the company. The map on the home screen has updated approximate
  locations of sensors in the city, as well as further information about each sensor once one is selected. The goal of this project 
  is to increase the <i><b>transparency</b></i> between citizens of Boston and the sensors the government uses to better the city. 
  We, the creators, hope that that this application is to your satisfaction, and that it furthers the transparency between
  the people of Boston and the rapidly advancing technological world around them.
  </div>
     
<article role="article" about="/departments/new-urban-mechanics" typeof="sioc:Item foaf:Document" class="node-96 node clearfix node-department-profile modstate-published desktop-100" bos_context_type="Department Profile" id="node-96">
   <div class="department-info-wrapper desktop-100">

      <div class="column mobile-100 desktop-66-left">          
<div class="b--g b--fw b">

  <div class="b-c">

    <div class="sh m--b000">
    <h2 class="sh-title">Meet the Team</h2>
    </div>

  <div class="g">
                  <article class="contextual-region node-15976 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href="/departments/new-urban-mechanics/nigel-jacob" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
      <img class="cdp-i" src="Desktop/belle.png" alt="Image for belle scott" typeof="foaf:Image">
  </picture>   
  </article>
</div>
<div>
      <div class="cdp-t t--sans t--upper">
        Belle Scott
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Undergraduate Student, App Developer
      
        </div>
      
    </div></a>
</article>


              <article class="contextual-region node-68376 clearfix node modstate-published cdp m-t500 g--1 g--3--sl" bos_context_type="Person Profile">
  <a href="/departments/new-urban-mechanics/nayeli-rodriguez" class="cdp-l d-b p-a300">

                    <div class="cdp-i field-item">
        <article>
                      <picture>
              
      <img class="cdp-i" src="/Desktop/anyan.jpg" alt="Image for profile anyan" typeof="foaf:Image">

  
  </picture>


      
  </article>

            </div>
      

    <div>

      <div class="cdp-t t--sans t--upper">
        Anyan Xie
      </div>

              <div class="cdp-st t--subinfo t--g300">
                      Graduate Student, App Developer
      
        </div>
      
    </div>

  </a> 
</article>

</div>


</div>
