<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @study_area.location %>
</p>

<%= link_to 'Edit', edit_study_area_path(@study_area) %> |
<%= link_to 'Back', study_areas_path %>
