<% provide(:title, "About") %>
<div class = "container">
<h1 class = "about">About</h1>

<div class = "aboutblock">
  <div class = "text">
  
  The <a href="https://www.boston.gov/"><b><u>CoB Transparency Project</u></b></a>, is a project led by
  <a href="https://www.brandeis.edu/"><b><u>Brandeis Students</u></b>. </a>The goal of this application is to educate
  the citizens of Boston on active sensors that exist within the city limits. There are many different types
  of sensors that serve the city, and they perform a variety of functions. For example, the department of transportation
  in Boston have cameras at intersections that monitor for vehicular events, such as traffic, accidents, or drivers that
  break the law. Citizens have a right to know about the technology around them, especially when that technology is 
  often not visible, or at least not self-announcing. There are also many sensors that are owned by third-parties, who use
  the data collected for many different purposes, depending on the company. The map on the home screen has updated approximate
  locations of sensors in the city, as well as further information about each sensor once one is selected. The goal of this project 
  is to increase the <i><b>transparency</b></i> between citizens of Boston and the sensors the government uses to better the city. 
  We, the creators, hope that that this application is to your satisfaction, and that it furthers the transparency between
  the people of Boston and the rapidly advancing technological world around them.
  </div>

  <div class = footer>
    pictures of us
  </div>
</div>
</div>