<div class = "show-page">
<div class = "container">

  <div class = "row">
    <div class = "col-12 text-left">
      <h2>Sensor  <%= @sensor.sensor_id %></h2>
    </div>
  </div>

  <div class = "row">
    <div class = "col-12">
      <h3><%= @sensor.sensor_type %></h3>
    </div>
  </div>

  <div class = "row">
    <div class = "col-12">
      <h4><%= @sensor.location %></h4>
    </div>
  </div>

  <p>
  <p>

  <div class = "row">
    <div class = "col-6">
      <strong>Ownership</strong>
    </div>
    <div class = "col-6">
      <%= @sensor.owner %>
    </div>
  </div>

</div>
</div>