<div class ="container">
<h1>About the app</h1>
<p>This app is designed and created by Brandeis University students, 
in a partnership with the New Urban Mechanics office in the City of Boston.
</p>
</div>