@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

.infoContainer {
  background-color: darkgrey;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  height: 25%;
  width: 100%;
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

hr {
  height: 1px;
  color: #fb4d42;
  background-color: #fb4d42;
  border: none;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.5em;
  color: #d2d2d2;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* about/info page styling with official CoB styling guidelines*/
h1.about{
  text-decoration: underline;
  text-decoration-color: #FB4D42;
  text-transform: uppercase;
  color: #0C2639;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 40px;
}

.aboutblock {
  display: block;
  margin: 2em 0 3em;
}

.timeline-step-wrapper .timeline-number, h1 {
  font-size: 30px;
  font-size: 1.66667rem;
  line-height: 27px;
  line-height: 1.5rem;
  margin-top: 29.25px;
  margin-top: 1.625rem;
  margin-bottom: 29.25px;
  margin-bottom: 1.625rem;
  font-weight: 700;
  letter-spacing: -1px;
}

h1, h2{
  font-family: Montserrat,sans-serif;
  color: #091f2f;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 300;
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}
.headshot{
  display: block;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 16px;
  margin-right: 1rem;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
}

.right {
  margin-top:40px;
  float:right;
  width: 25%;
  padding: 30px;
  .transparencylogo{
    max-width: 100%;
    height: auto;
  }
}
.outlined{
  border: 3px solid #E0E0E0;
}

.left {
  width: 72%;
  border: 3px solid #E0E0E0;
  padding: 10px;
}

h2.aboutcolumn{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #0C2639;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/*phone icon for about page*/
.icon-phone {
  background-image: url(../phone.png);
  background-repeat: no-repeat;
}
.detail-item__left>.icon {
  border: 3px solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.detail-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: none;
  display: block;
}
.list-item {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px dashed #e0e0e0;
  border-left: 0;
}
a.number{
  font-family: Lora,serif;
}


.text{
  font-size: 1.3em;
  font-family: Lora,serif;
    color: #58585b;
    -webkit-font-smoothing: antialiased;
    line-height: 2.16667em;
    margin-top: 20px;
    margin-bottom: 20px;
  /* selected link */
  a:active {
    color: #d22d23;
    * {
      box-sizing: border-box;
  }
    .inverted:visited, a:focus, a:hover {
      color: #d22d23;
    }
    a:hover {
      color: #fb4d42;
      background-color: white;
    }
    :visited {
      color: #1871bd;
    }
    :link {
      color: #1871bd;
      text-decoration: none;
    }
}}

.g {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-family: Lora,serif;
    color: #58585b;
    -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}

.cdp {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.g--1 {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: calc(99.9% * 12/12 - 0rem);
  flex-basis: calc(99.9% * 12/12 - 0rem);
  max-width: calc(99.9% * 12/12 - 0rem);
  width: calc(99.9% * 12/12 - 0rem);
}
.m-t500 {
  margin-top: 27.56px;
  margin-top: 1.7225rem;
}
.contextual-region {
  position: relative;
}

.cdp-l:hover {
  background-color: #288be4;
  color: #fff;
}
.inverted:visited, a:focus, a:hover {
  color: #d22d23;
}
a:hover {
  color: #fb4d42;
}
:visited {
  color: #1871bd;
}
:link {
  color: #1871bd;
  text-decoration: none;
}
.cdp-l {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f3f3f3;
  text-align: left;
  width: 100%;
}

article{
  display: block;
}

.cdp-l:hover .cdp-t {
  color: #091f2f;
}
.cdp-t {
  line-height: 1.1;
}
.t--upper {
  text-transform: uppercase;
}
.t--number, .t--sans {
  font-family: Montserrat,Arial,sans-serif;
}
cdp-l:hover .cdp-st {
  color: #fff;
}
.t--g300 {
  color: #828282;
}
.t--subinfo {
  color: #091f2f;
  font-family: Lora,Georgia,serif;
  font-size: calc(14px + 2 * ((100vw - 480px) / 960));
  font-style: italic;
  line-height: 1.5;
}


.aboutustitle{
  margin: 0 0 4px;
  margin: 0 0 .25rem;
  font-family: Montserrat,Arial,sans-serif;
  font-size: calc(20px + 25 * ((100vw - 480px) / 960));
  font-weight: 700;
  padding-right: 16px;
  padding-right: 1rem;
  line-height: 1;
  color: #091f2f;
  text-transform: uppercase;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0c2639;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}