@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

/* universal */

.slider {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 30%;
  bottom: 0;
  overflow: hidden;
  background-color: transparent; color: black;
  transition: height 0.3s;
  .rounded-box {
  
    position: absolute;
    border-radius: 25px 25px 0 0;
    padding: 2%;
    width: 95%;
    height: 100%;
    top: 5%;
    left: 2.34%;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px -1.5px 10px rgba(0,0,0,0.3);
    #searchInfo{
      position: relative;
      height: 50%;
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    #searchInfo::-webkit-scrollbar { /* WebKit */
      display: none;
    }

    #exitthis{
      position:relative;
    }
    
    
  }
  
}

.slider.close {
  height: 0;
}






.infoContainer{
  
  background-color: darkgrey;
  position: absolute;
  bottom: 0;
  padding-top:20px;
  height: 25%;
  width: 100%;
  
}
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

hr{
  height: 1px;
  color: red;
  background-color: red;
  border: none;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}


/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }

  /* sidebar */

aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }
/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: auto !important;
  }
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }    
  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }