// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
.custom-icons {
  padding-top: 4px;
}

.view-change {
  position: fixed;
  width: 29px;
  height: 29px;
  right: 10px;
  top: 166px;
  background-color: #fff;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.view-change.clicked {
  box-shadow: 0 0 2px 2px rgba(0, 150, 255, 1);
  background-color: skyblue;
}
.sensorInfo {
  position: absolute;
  top: 10%;
}

.slider {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 40%;
  bottom: 0;
  overflow: hidden;
  background-color: transparent;
  color: black;
  transition: height 0.15s;
  pointer-events: none;
  .rounded-box {
    position: absolute;
    pointer-events: auto;
    border-radius: 25px 25px 0 0;
    top: 50px;
    padding: 2%;
    width: 100%;
    height: 100%;
    left: 0%;
    background-color: rgba(250, 250, 250, 0.7);
    box-shadow: 0px -1.5px 10px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    @media screen and (max-width: 10000px) {
      #searchInfo {
        position: relative;
        height: 50%;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        line-height: 1.6em;
        border-radius: 10px;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: transparent;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
      }
    }

    @media screen and (max-width: 1200px) {
      #searchInfo {
        position: relative;
        height: 50%;
        max-width: 910px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        line-height: 1.6em;
        border-radius: 10px;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: transparent;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
      }
    }

    @media screen and (max-width: 992px) {
      #searchInfo {
        position: relative;
        height: 50%;
        max-width: 690px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        line-height: 1.6em;
        border-radius: 10px;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: transparent;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
      }
    }

    @media screen and (max-width: 768px) {
      #searchInfo {
        position: relative;
        height: 50%;
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        line-height: 1.6em;
        border-radius: 10px;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        background-color: transparent;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
      }
    }

    // .feedback-area{
    //     position: absolute;
    //     width: 100%;
    //     overflow-y: scroll;
    //     overflow-x: hidden;
    // }

    // .feedback-area::-webkit-scrollbar{
    //     display: none;
    // }

    #searchInfo::-webkit-scrollbar {
      /* WebKit */
      display: none;
    }

    #exitthis {
      position: relative;
    }
  }
}

.slider.close {
  height: 0;
}

.slider.see-more {
  height: 100%;
  #searchInfo {
    position: relative;
    height: 30%;

    overflow-y: scroll;
    overflow-x: hidden;
  }
}

#map {
  z-index: 0;
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.marker {
  background-image: url("mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.toggleSwitch {
  position: absolute;
  width: 29px;
  height: 205px;
  left: 10px;
  top: 55px;
  z-index: 1;
  color: black;
  background-color: transparent;
  transition: all 0.5s;
}

.toggleSwitch.folded {
  top: -170px;
}

.filter-group-toggle {
  position: absolute;
  width: 29px;
  height: 29px;
  bottom: -55px;
  z-index: 1;
  background: rgba(250, 250, 250, 1);
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.filter-group {
  position: absolute;
  top: 0px;
  margin-top: 9px;
  left: 0px;
  z-index: 1;
  border-radius: 4px;
  width: 29px;
  color: #fff;
}

.toggle_icon {
  position: relative;
  margin-top: 7px;
  z-index: 2;
  bottom: 10px;
  width: 29px;
  height: 29px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.arrow {
  // position: absolute;
  width: 15px;
  height: 15px;
  transform: rotate(180deg);
  margin-top: 5px;
  transition: all 0.5s;
}

.arrow.folded {
  transform: rotate(0deg);
}

.toggle_icon.clicked {
  box-shadow: 0 0 0px 2px rgba(42, 166, 255, 0.5);
  background-color: rgb(188, 227, 243);
}

.toggle_icon_img {
  width: 25px;
  height: 25px;
  padding-top: 3px;
}

.filter-group input[type="checkbox"] {
  display: none;
}

.filter-group input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  height: 29px;
  border-radius: 4px;
  padding-top: 5px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: rgb(116, 116, 116);
}

.filter-group input[type="checkbox"]:checked + label {
  background-color: white;
}

.geocoder {
  position: fixed;
  z-index: 1;
  width: 70%;
  left: 15%;
  margin-top: 10px;
  top: 50px;
}

//data loaded onto infobar

.show-page {
  pointer-events: none;
}

.container {
  pointer-events: auto;
}

// mapbox geocoder

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,
.mapboxgl-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  transition: width 0.25s, min-width 0.25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  box-shadow: none;
  outline: thin;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  position: absolute;
  width: 100%;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #404040;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  line-height: 0;
}

.mapboxgl-ctrl-geocoder--icon-close {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

// typography

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 0px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 200%;
}

hr {
  height: 1px;
  color: #fb4d42;
  background-color: #fb4d42;
  border: none;
}

a:visited {
  color: white;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(asset-path("fonts/Montserrat-Bold.eot"));
  src: url("fonts/Montserrat-Bold?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Bold.ttf") format("truetype"),
    url("fonts/Montserrat-Bold.woff") format("woff"),
    url("fonts/Montserrat-Bold.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(asset-path("fonts/Montserrat-SemiBold.eot"));
  src: url("fonts/Montserrat-SemiBold?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-SemiBold.ttf") format("truetype"),
    url("fonts/Montserrat-SemiBold.woff") format("woff"),
    url("fonts/Montserrat-SemiBold.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url(asset-path("fonts/Montserrat-SemiBoldItalic.eot"));
  src: url("fonts/Montserrat-SemiBoldItalic?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-SemiBoldItalic.ttf") format("truetype"),
    url("fonts/Montserrat-SemiBoldItalic.woff") format("woff"),
    url("fonts/Montserrat-SemiBoldItalic.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url(asset-path("fonts/Montserrat-LightItalic.eot"));
  src: url("fonts/Montserrat-LightItalic?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-LightItalic.ttf") format("truetype"),
    url("fonts/Montserrat-LightItalic.woff") format("woff"),
    url("fonts/Montserrat-LightItalic.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(asset-path("fonts/Montserrat-Light.eot"));
  src: url("fonts/Montserrat-Light?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat-Light.ttf") format("truetype"),
    url("fonts/Montserrat-Light.woff") format("woff"),
    url("fonts/Montserrat-Light.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Regular";
  src: url(asset-path("fonts/Lora-Regular.eot"));
  src: url("fonts/Lora-Regular?#iefix") format("embedded-opentype"),
    url("fonts/Lora-Regular.ttf") format("truetype"),
    url("fonts/Lora-Regular.woff") format("woff"),
    url("fonts/Lora-Regular.svg#icofonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

.id_info {
  padding-top: 20px;
  font-size: xx-large;
  line-height: 1.6em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Montserrat-Bold";
}

.type_info {
  line-height: 1.6em;
  font-size: x-large;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Montserrat-SemiBold";
}

.feedback-label {
  line-height: 1.6em;
  font-size: small;
  text-align: center;
  font-family: "Montserrat-Light";
  margin-top: 20px;
  margin-bottom: 5px;
}

#feedback_topic {
  display: none;
}

.location_info {
  padding: 10px;
  margin-top: 10px;
  line-height: 1.6em;
  font-size: small;
  text-align: justify;
  font-family: "Montserrat-LightItalic";
}

@media screen and (min-width: 768px) {
  .location_info {
    padding: 10px;
    margin-top: 10px;
    line-height: 1.6em;
    font-size: small;
    text-align: center;
    font-family: "Montserrat-LightItalic";
  }
}

.description-box {
  border-radius: 10px;
  border: 1px dashed #ccc;
  margin-bottom: 10px;
  font-family: Lora-Regular;
  margin-top: 20px;
}

.owner_info {
  line-height: 1.6em;
  font-size: medium;
  text-align: left;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
}

.description_info {
  padding: 10px;
  line-height: 1.6em;
  font-size: medium;
  background-color: transparent;
  text-align: left;
}

.area-name {
  padding: 10px;
  font-family: "Montserrat-SemiBold";
  border-bottom: 1px dashed #ccc;
}

.area-longlat {
  padding: 10px;
  font-family: "Montserrat-LightItalic";
}
