// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.sensorInfo{
    position:absolute;
    top: 10%;
}

.slider {
    position: absolute;
    z-index:2;
    margin: 0;
    width: 100%;
    height: 40%;
    bottom: 0;
    overflow: hidden;
    background-color: transparent; color: black;
    transition: height 0.3s;
    .rounded-box {
      position: absolute;
      border-radius: 25px 25px 0 0;
      padding: 2%;
      width: 95%;
      height: 100%;
      top: 5%;
      left: 2.34%;
      background-color: rgb(250, 250, 250);
      box-shadow: 0px -1.5px 10px rgba(0,0,0,0.3);
      #searchInfo{
        position: relative;
        height: 50%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
      }
  
      #searchInfo::-webkit-scrollbar { /* WebKit */
        display: none;
      }
  
      #exitthis{
        position:relative;
      }
      
      
    }
    
  }
  
 

  .slider.close {
    height: 0;
  }
  
  .slider.see-more{
    height: 99%;
    #searchInfo{
      position: relative;
      height: 45%;
      width: 100%;
      overflow-y: scroll;
      overflow-x: scroll;
    }
  }
  
#map{
    z-index: 0;
    position: fixed; 
    top: 50px ; 
    bottom: 0;
    width:100%; 
    height: 100%;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.filter-group {
    font: 12px/20px 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: fixed;
    top: 50px;
    margin-top:10px;
    left: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 35px;
    color: #fff;
}
     
.filter-group input[type='checkbox']:first-child + label {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
     
.filter-group label:last-child {
    border-radius: 0 0 5px 5px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25) ;
}
     
.filter-group input[type='checkbox'] {
    display: none;
}
     
.filter-group input[type='checkbox'] + label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}
     

.filter-group input[type='checkbox']:checked + label {
    background-color: white;
}
     

.geocoder {
    position: fixed;
    z-index: 1;
    width: 70%;
    left: 15%;
    margin-top: 10px;
    top: 50px;
}



// mapbox geocoder

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder *,
.mapboxgl-ctrl-geocoder *:after,


.mapboxgl-ctrl-geocoder {
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  border-radius: 4px;
  transition: width .25s, min-width .25s;
}

.mapboxgl-ctrl-geocoder--input {
  font: inherit;
  width: 100%;
  border: 0;
  background-color: transparent;
  margin: 0;
  height: 50px;
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  padding: 6px 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mapboxgl-ctrl-geocoder--input::-ms-clear {
  display: none; /* hide input clear button in IE */
}

.mapboxgl-ctrl-geocoder--input:focus {
  color: #404040; /* fallback */
  color: rgba(0, 0, 0, 0.75);
  outline: 0;
  box-shadow: none;
  outline: thin;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
  z-index: 2;
  position: absolute;
  right: 8px;
  top: 7px;
  display: none;
}

.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder .suggestions {
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}

/* Collapsed */
.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  position: absolute;
  width: 100%;
}

/* Suggestions */
.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border-radius: 4px;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 110%; /* fallback */
  top: calc(100% + 6px);
  z-index: 1000;
  overflow: hidden;
  font-size: 15px;
}

.mapboxgl-ctrl-bottom-left .suggestions,
.mapboxgl-ctrl-bottom-right .suggestions {
  top: auto;
  bottom: 100%;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  cursor: default;
  display: block;
  padding: 6px 12px;
  color: #404040;
}

.mapboxgl-ctrl-geocoder .suggestions > .active > a,
.mapboxgl-ctrl-geocoder .suggestions > li > a:hover {
  color: #404040;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder--suggestion-title {
  font-weight: bold;
}

.mapboxgl-ctrl-geocoder--suggestion-title,
.mapboxgl-ctrl-geocoder--suggestion-address {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Icons */
.mapboxgl-ctrl-geocoder--icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  fill: #757575;
  top: 15px;
}

.mapboxgl-ctrl-geocoder--icon-search {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 23px;
  height: 23px;
}

.mapboxgl-ctrl-geocoder--button {
  position: absolute;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background:transparent;
  line-height: 0;
}

.mapboxgl-ctrl-geocoder--icon-close {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.mapboxgl-ctrl-geocoder--button:hover .mapboxgl-ctrl-geocoder--icon-close {
  fill: #909090;
}

.mapboxgl-ctrl-geocoder--icon-loading {
  width: 26px;
  height: 26px;
  margin-top: 5px;
  margin-right: 0px;
  -moz-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  -webkit-animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
  animation: rotate 0.8s infinite cubic-bezier(0.45, 0.05, 0.55, 0.95);
}


