// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#map{
    position: fixed; 
    top: 50px ; 
    bottom: 0;
    width: 100%; 
    height: 100%;
}
.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.filter-group {
    font: 12px/20px 'Montserrat-SemiBold', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 70%;
    left: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 35px;
    color: #fff;
}
     
.filter-group input[type='checkbox']:first-child + label {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
}
     
.filter-group label:last-child {
    border-radius: 0 0 5px 5px;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.25) ;
}
     
.filter-group input[type='checkbox'] {
    display: none;
}
     
.filter-group input[type='checkbox'] + label {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}
     

    .filter-group input[type='checkbox']:checked + label {
        background-color: white;
    }
     
    

