// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #45789c;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 40px;
}
